<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Мечтатель, путешественник, фотолюбитель</title>
  </head>
  <body>

    <div>
      <p>"Должен вам сказать, что мы вовсе не хотим завоёвывать никакой космос. Мы хотим расширить Землю до его границ. Мы не знаем, что делать с другими мирами. Нам не нужно других миров. Нам нужно зеркало. Мы бьёмся над контактом, и никогда не найдём его. Мы в глупом положении человека, рвущегося к цели, которую он боится, которая ему не нужна. Человеку нужен человек." А.Тарковский.</p>
      <img src="image.jpg" alt="[Фото]">
      <h1>Catherine I</h1>
      <h2>QA engineer</h2>
    </div>

    <div>
      <h3>Обо мне</h3>
      <ul>
        <li>Люблю котиков, вкусно поесть и поспать</li>
        <li>Много путешествую, занимаюсь спортом</li>
        <li>Люблю горы, своих друзей и свою работу</li>
      </ul>
    </div>

    <div>
      <h3>Что я умею</h3>
      <ul>
        <li>Готовить</li>
        <li>Колоть дрова</li>
        <li>Тестить железо</li>
        <li>Вышивать крестиком</li>
      </ul>
    </div>

    <div>
      <h3>Последние посещенные места</h3>
      <ul>
        <li>Трир</li>
        <li>Арлон</li>
        <li>Гент</li>
        <li>Оостенде</li>
        <li>Брюгге</li>
        <li>Люксембург</li>
        <li>Кёльн</li>
        <li>Нанси</li>
        <li>Цюрих</li>
        <li>Лозанна</li>
        <li>Париж</li>
        <li>Афины</li>
        <li>Сунио</li>
        <li>Эгина</li>
      </ul>
    </div>

  </body>
</html>
